.card {
  width: 13.25em;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-card);
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
}

.avatar {
  height: 180px;
  width: 180px;
  border-radius: var(--border-radius);
  object-fit: contain;
  object-position: center;
}


.info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  & .character_name {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 16px;
  }
  
  & .character_info {
    font-size: 10px;
    font-weight: 400;
  }
}


@media (max-width: 768px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10em;
    height: 15.25em;
  }

  .avatar {
    height: 135px;
    width: 135px;
  }
}
