.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .label {
    padding: 8px 16px;
    background: var(--lime-green);
    border-radius: var(--border-radius-label);
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 700;
  }
  
  & .logo-app {
    width: 60%;
    margin: auto;
    object-fit: contain;
    object-position: center;
  }
}
