.btn {
  padding: .3em 3.3em;
  border-radius: var(--border-radius);
  border-width: 0 0 4px 4px;
  border-style: solid;
  display: inline-flex;
  color: var(--dark-blue);
  box-shadow: var(--box-shadow-link);
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;

  &.primary {
    background-color: var(--aqua-blue);
    border-color: var(--lime-green);

    &:hover {
      transition: background-color 0.2s ease-in-out;
      background-color: var(--primary-turquoise-blue-hover);
      border-color: var(--yellow-green);
    }

    &:active {
      background-color: var(--primary-teal-active);
      border-color: var(--yellow-green);
      color: var(--white);
    }
  }

  &.secondary {
    background-color: var(--lime-green);
    border-color: var(--aqua-blue);

    &:hover {
      transition: background-color 0.2s ease-in-out;
      background-color: var(--secondary-olive-hover);
      border-color: var(--aqua-blue);
    }

    &:active {
      background-color: var(--secondary-olive-dark-active);
      border-color: var(--aqua-blue);
      color: var(--white);
    }
  }
}
