.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
}
