.information {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  & .character-text {
    color: var(--black);
    font-weight: 700;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .information {
    display: flex;
    flex-direction: column;
    margin: 0;
    & .character-text {
      font-size: 16px;
      font-weight: 700;
      color: var(--black);
    }
  }
}
