:root {
  --geist-background: #1C1D3B;
  --geist-foreground: #FFFAC2;
  --aqua-blue: #A2F2F9;
  --lime-green: #D8E054;
  --yellow-green: #E6EC59;
  --dark-blue: #233A59;
  --black: #000;
  --white: #fff;
  --box-shadow-link: -1px 1px 4px rgba(0, 0, 0, 0.2);
  --box-shadow-card: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
  --border-radius: 8px;
  --border-radius-label: 25px;

  --primary-turquoise-blue-hover:#49D5E1;
  --primary-teal-active: #1A7A83;
  --secondary-olive-hover: #B1B83B;
  --secondary-olive-dark-active: #73781C;
}


/* A Modern CSS Reset */
/* https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* slightly adapted */

/* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  a {
    -webkit-tap-highlight-color: transparent;
  }
  @media (any-hover: hover) {
    a:hover {
      -webkit-tap-highlight-color: transparent;
    }
  }
  /* Remove default padding */
  ul[class],
  ol[class] {
    padding: 0;
  }
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  /* Set core body defaults */
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--geist-background);
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  }
  /* Remove list styles on ul, ol elements */
  ul,
  ol {
    list-style: none;
  }
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration: none;
  }
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
