.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--white);

  & .notFound-title {
    font-size: 18.4em;
    font-weight: 700;
  }

  & .logo {
    height: 1em;
    width: 1em;
    object-fit: contain;
    object-position: center;
  }

  & .content-notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    
  }
}

@media (max-width: 768px) {
  .container {
    & .notFound-title {
      font-size: 8em;
      font-weight: 700;
    }

    
  }
}
